//task list component "input"
.list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 150px;
}

h1 {
  font-size: 4rem;
}

select {
  font-size: 1.2rem;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.addButton {
  background-color: rgb(97, 202, 97);

  &:hover {
    background-color: rgb(70, 146, 70);
  }
}

.delButton {
  background-color: rgb(240, 82, 82);

  &:hover {
    background-color: rgb(240, 47, 47);
  }
}

.moveButton {
  background-color: rgb(199, 69, 199);

  &:hover {
    background-color: rgb(167, 57, 167);
  }
}

input[type="text"] {
  font-size: 1.5rem;
  padding: 10px;
  border: 3px solid black;
  border-radius: 6px;
}

ol {
  padding: 0;
}

li {
  font-size: 1.7rem;
  padding: 10px;
  border: 3px solid black;
  border-radius: 6px;
  margin-bottom: 5px;
  display: flex;
  background-color: rgb(240, 230, 205);
}

.header {
  display: inline-flexbox;
}

//timer
.timer {
  font-size: 2rem;
  font-weight: bold;
  border-radius: 50px;
  border: 2px solid black;
  position: relative;
  margin-right: 90%;
  margin-top: 0;
}

//toggle button
.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  margin-inline-start: 90%;

  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  border: 1px solid black;

  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
}

input:checked + .slider {
  background-color: rgb(143, 79, 143);
  border: 1px solid white;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.favButton {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}
